* {
    font-family: 'Poppins';
}

.box-degrade{
    flex-direction: column;
}

span{
    color: aqua;
}
.textinfo h1{
    font-size: 900;
    display: flex;
    justify-content: center;
    color: #110b50;
}
.textinfo p{
    transition: 2s;
    background: none;
    padding: 2rem;
    margin: 1rem;
    font-size: 400;
    border:solid 0.1rem #000000;
}

.textinfo p:hover{
    transition: 2s;
    color: #ffffff;
    background-color: #110b50;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=============================LINHA===================================*/
.linha{
    width: 100%;
    border: 0.1rem solid #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*=============================SESSÃO==================================*/

.informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoo p{
    transition: 2s;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem ;
    border:solid 0.1rem #000000;
}

.textoo p:hover{
    transition: 2s;
    color: #ffffff;
    background-color: #110b50;
}
.personagem img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*================================Direito ao voto==============================*/
.direito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textovoto p{
    transition: 2s;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem ;
    border:solid 0.1rem #000000;
}
.textovoto p:hover{
    transition: 2s;
    color: #ffffff;
    background-color: #110b50;
}
/*=============================DISIGUALDADE==============================*/
.trabalhos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textodesi p{
    transition: 2s;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem ;
    border:solid 0.1rem #000000;
}
.textodesi p:hover{
    transition: 2s;
    color: #ffffff;
    background-color: #110b50;
}
/*=============================FIM DO SITE==============================*/
.rodape{
    padding-top: 2rem;
    background-color: #000000;
    width: 100vw;
    height: 25vh;
}
.rodape h4{
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.redes{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.redes a{
    color: #ffffff;
}

.redes i{
    color: #ffffff;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}